doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var use = { cdn: true, og: false, favicon: true }
- var lib = { jquery: true, d3js: false, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "thumbnail.png"
- var favicon = "thumbnail.png"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title JSON 轉 CSV
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="jsonconvert.js")
    script(type="text/javascript",src="index.js")
  body(ng-app="main",ng-controller="main")
    #root
      textarea.form-control(ng-model="json",rows="7",placeholder="這裡貼上 JSON ...")
      #convert.btn.btn-default.btn-block(ng-click="convert()") Convert
      textarea.form-control(ng-model="csv",rows="7", placeholder="這裡就會產生 CSV ")
      a#download.btn.btn-default.btn-block(ng-disabled="!download",
      ng-attr-download="{{download}}") Download
